
@{
    Layout = null;
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Top Covid Case</title>

@Styles.Render("~/Content/css")
<link href="@Url.Content("~/Content/project_style.css")" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/table-to-json/0.11.1/jquery.tabletojson.js"></script>
<script src="~/Scripts/jquery.table2excel.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/modernizr")