@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to COVID Cases Application</h1>
    <p class="lead">This application displays the top 10 regions with most <b>COVID</b> cases</p>
    <p>It also displays confirmed cases and deaths information</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus</p>
        <p>
            Most people infected with the virus will experience mild to moderate respiratory illness
            and recover without requiring special treatment. However, some will become seriously ill and
            require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age.
        </p>
        <p><a class="btn btn-default" href="https://www.who.int/health-topics/coronavirus#tab=tab_1">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Prevention</h2>
        <p>To prevent infection and to slow transmission of COVID-19, do the following:</p>
        <ul>
            <li>Get vaccinated when a vaccine is available to you.</li>
            <li>Stay at least 1 metre apart from others, even if they don't appear to be sick.</li>
            <li>Wear a properly fitted mask when physical distancing is not possiblle or when in poorly ventilating settings.</li>

        </ul>
        <p><a class="btn btn-default" href="https://www.who.int/health-topics/coronavirus#tab=tab_2">Learn more about Prevention protocols&raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Symptoms</h2>
        <p>
            COVID-19 affects different people in different ways. Most infected people will develop mild to moderate
            illness and recover without hospitalization.
        </p>
        <p><a class="btn btn-default" href="https://www.who.int/health-topics/coronavirus#tab=tab_3">Learn more about COVID symtoms &raquo;</a></p>
    </div>

</div>